
body,h1,h2,h3,h4,p,ul,li,ol,dl,dd,dt{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.fl{
    float:left;
}
html,body{
    font-style: '微软雅黑';
    height:100%;
    color:#666;
}
#app{
    height:100%;
    display:flex;
    .box{
        flex:1;
        font-size: 0.2rem;
        display:flex;
        display: flex;
        flex-direction:column;
        .header{
            flex:6%;
            display:flex;
            ul{
                flex:1;
                display:flex;
                flex-direction:row;
                li{
                    flex:1;
                    float:left;
                    a{  
                        margin:0.08rem;              
                        text-align: center;
                        display:block;
                        i{
                            display:block;
                            color:#4A2B1A;
                            font-size: 0.3rem;
                        }
                    }
                }
                li:first-child{
                    a{
                        float:left;
                    }
                }
                li:last-child{
                    a{
                        float:right;
                    }
                }
            }
        }
        .content{
            display:flex;
            flex-direction:column;
            height:94%;
            overflow-y:auto;
            .ant-carousel{
              text-align: center;
              height:60%;
              width:100%;
              background: #364d79;
              overflow: hidden;
            }

            .ant-carousel .slick-slide h3 {
              color: #fff;
            }
            background-color:#FAFAFA;
            flex:90%;
            overflow-y:auto;
            display:flex;
            flex-direction:column;
            .slideshow{
                width:100%;
                img{
                    width:100%;
                }
            }
            .classify{
                background-color:#fff;
                height:20%;
                border-bottom:1px solid #B6B6B6;
                ul{
                    overflow:hidden;
                    width:100%;
                    display:flex;
                    flex-direction:row;
                    li{
                        float:left;
                        flex:1;
                        text-align: center;
                        a{
                            display:block;
                            img{
                                height:1rem;
                                height:1rem;
                            }
                            span{
                                display:block;
                                color:#666;
                            }
                        }
                    }
                }
            }
            .billboard{
                background-color:#fff;
                margin-top:0.6rem;
                height:60%;
                display:flex;
                flex-direction:column;
                h1{
                    text-align:center;
                }
                ul{
                    height:20%;
                    display:flex;
                    flex-direction:row;
                    text-align: center;
                    li{
                        flex:1;
                        float:left;
                        a{
                            display:block;
                            img{
                                height:1rem;
                                height:1rem;
                            }
                            span{
                                display:block;
                                color:#666;
                            }
                        }
                    }
                }
            }
        }
        .footer{
            background-color:#FAFAFA;
            border-top:1px solid #B6B6B6;
            flex:10%;
            display:flex;
            ul{
                flex:1;
                display:flex;
                flex-direction:row;
                li{
                    flex:1;
                    float:left;
                    text-align: center;
                    a{  
                        color:#B6B6B6;
                        display: block;
                        font-size: 0.3rem;
                        span{
                            color:#B0B0B0;
                            display: block;
                            font-size: 0.16rem;
                        }
                    }
                }
            }
        }
    }
}
