html,body{
	width: 100%;
	height: 100%;
}
#app{
	width: 100%;
	height: 100%;
}
.box{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.header{
	flex:1;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-size: 60px;
	line-height: 150px;
	text-align: center;
	.left{
		
		width: 80px;
		float: left;

	}
	.center{flex:1;}
	.right{
		width: 80px;
		float: right;
	}
}
.main{
	flex:20;
	display: flex;
	font-size: 60px;
	text-align: center;
	width: 100%;
	height: 100%;
	.chat{width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		.msglist{flex:12;
			height: 100%;
			background-color: #fff;
			overflow-y:auto;

			.msgme{
				
				display: flex;
				flex-direction:column;
		        justify-content:flex-start;
		        align-items: flex-end;
				p{
					font-size: 40px;
				}
				.msgshow{
						border:1px solid #ccc;
						border-radius: 20px;
						font-size: 50px;
						background-color:#a2e563;
					}

			}
		}
		.msgsend{
			width: 100%;
			flex:1;
			display: flex;
			background-color: #FCFCFC;
			margin-bottom: 50px;
			.voice{margin-right: 10px;
				flex:1;
				width: 8%
			}

			#msg{
				flex:6;
				width: 500px;
				height: 80px;
				border: none;
				border-bottom: 3px solid #58bc58;
			
			}
			.add{
				flex:1;
				width: 8%
			}
			.send{
				flex:1;
				width: 8%
			}
		}
	}
}
.footer{
	
	width: 100%;
	background-color: #ccc;
	font-size: 60px;
	line-height: 100px;
	text-align: center;
}